 /* upload : Begn*/
   div.upload {
		width: 157px;
		height: 57px;
		background: url(../source/upload.png);
		overflow: hidden;
	}

 div.upload input {
		display: block !important;
		width: 157px !important;
		height: 57px !important;
		opacity: 0 !important;
		overflow: hidden !important;
	}

  /* upload : End*/
  
/* Parse button : Begin*/
.button {
  padding: 10px 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8b8b8b;
  border: none;
  border-radius: 5px 5px 12px 12px;
  box-shadow: 0 5px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Parse button : End*/

/* side Navigation : Begin*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #222;
    border-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 14px;
	box-sizing: border-box;
}
.sidenav h3 {
	color: white;
}
.sidenav a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px;
    margin-top: 10px;	
}

#main {
    transition: margin-left .5s;
    padding: px;
	
	visibility: hidden;
    opacity: 0;
}
#main1 {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* side Navigation : Begin*/

/* Open Menu : Begin*/
.open{
font-size:25px;
cursor:pointer;
color:#8b8b8b;
}

.open:hover, .shadow:hover{
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #3e8e41;
}

/* Open Menu : End*/

/* Side Box : Begin*/

#myInput {
  background-image: url('../source/searchicon.png');
  background-position: 7px 7px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 12px;
  padding: 10px 7px 10px 40px;
  border: 2px solid #ddd;
  margin-bottom: 5px;
}

#myTable, #inoutTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 12px;
  background-color:white;
}

#myTable th, #myTable td, .sidenav h3, #inoutTable td, #inoutTable th {
  text-align: left;
  padding: 5px 2px 5px 12px;
}

#myTable tr, #inoutTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, .blueheader th, #inoutTable tr.header{
  background-color: hsla(123, 49%, 62%, 0.42);
}

#myTable tr:hover, .blueheader th, #inoutTable tr:hover {
background-color: rgba(109, 207, 113, 0.69);
}

/* Side Box : End*/

/* Scrollbar: Start*/
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px olivedrab;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #ddd; 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(109, 207, 113, 0.69);
}  
/* Scrollbar: End*/

/*Front Page View: Start*/
#frontView	{
	display:block;
	margin-top:-500px;
	padding-left:50px;
}
/*Front Page View: End*/